@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Travel Guide</h1>
    <p class="lead">Travel guide is an application desgined to help you plan your next trip in just one app! Sign up today to create 
    your first itinerary and search for your next trip.</p>
    <p><a href="~/Views/Home/About.cshtml" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search For Places</h2>
        <p>
            Search for places on Google Maps for your next trip.
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/SearchForPlaces.cshtml">Learn more &raquo;</a></p>
    </div>
   
    <div class="col-md-4">
        <h2>Search</h2>
        <p>Search through Google to get details on things you need.</p>
        <p><a class="btn btn-default" href="~/Views/Home/SearchForThings.cshtml">Learn more &raquo;</a></p>
    </div>
</div>